{
    "color_scheme": "Packages/Material Theme/schemes/Material-Theme-Darker.tmTheme",
    "default_line_ending": "unix",
    "enable_hexadecimal_encoding": false,
    "ensure_newline_at_eof_on_save": true,
    "folder_exclude_patterns":
    [
        ".svn",
        ".git",
        ".hg",
        "CVS",
        "__pycache__"
    ],
    "font_face": "Consolas",
    "font_options":
    [
        "no_bold",
        "no_italic",
        "no_antialias",
        "gray_antialias",
        "gdi"
    ],
    "font_size": 20,
    "ignored_packages":
    [
        "SublimeAStyleFormatter",
        "Vintage",
        "VueFormatter"
    ],
    "index_files": false,
    "mini_diff": false,
    "save_on_focus_lost": true,
    "show_git_status": false,
    "theme": "Material-Theme-Darker.sublime-theme",
    "translate_tabs_to_spaces": true
}
