{
    "color_scheme": "Packages/Material Theme/schemes/Material-Theme-Darker.tmTheme",
    "default_line_ending": "unix",
    "font_face": "Consolas",
    "font_options":
    [
        "no_bold",
        "no_italic",
        "no_antialias",
        "gray_antialias"
    ],
    "font_size": 18,
    "translate_tabs_to_spaces": true,
    "ignored_packages":
    [
        "Vintage"
    ],
    "theme": "Material-Theme-Darker.sublime-theme"
}
