{
    "color_scheme": "Packages/Material Theme/schemes/Material-Theme-Darker.tmTheme",
    "default_line_ending": "unix",
    "enable_hexadecimal_encoding": false,
    "font_face": "Consolas",
    "font_options":
    [
        "no_bold",
        "no_italic",
        "no_antialias",
        "gray_antialias",
        "gdi"
    ],
    "font_size": 18,
    "translate_tabs_to_spaces": true,
    "ignored_packages":
    [
        "Vintage"
    ],
    "theme": "Material-Theme-Darker.sublime-theme",
    "folder_exclude_patterns": [".svn", ".git", ".hg", "CVS", "__pycache__"],
    "ensure_newline_at_eof_on_save": true,
    "save_on_focus_lost": true,
}
