body {
    font-size: 18px;
	padding:10px;
    
}

h1 {
    font-family:"Brush Script MT";
	font-size:50px;
	font-weight:bold;
}

label {
    margin: 5px;
    font-size: 25px;
	font-family: Garamond;
}

.checkbox-inline {
    font-family: Papyrus;
    font-size: 20px;
}

.param-form {
	width:80%;
	padding:20px;
}

#method {
	font-family:Helvetica;
}